<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/">Server</a></li>
        <li class="breadcrumb-item active" aria-current="page" routerLink="/server-list">List</li>
      </ol>
    </nav>

    <server-create-btn />

  </div>




  <div class="row">
    <div class="card-group">
      <div *ngFor="let server of serverList; let i = index">
        <div class="g-3">
          <server-card 
          [server]="server" 
          (updateServerInfo)="onUpdateServerInfo($event, i)"
          (deleteServerInfo)="deleteServer(i)"
          />
        </div>
      </div>
    </div>
  </div>
</div>